asgiref==3.2.5
astroid==2.4.2
bleach==1.5.0
colorama==0.4.4
cycler==0.10.0
Django==3.0.4
django-crispy-forms==1.11.0
enum34==1.1.6
gunicorn==20.0.4
h5py==2.7.1
html5lib==0.9999999
isort==5.7.0
Keras==2.1.2
lazy-object-proxy==1.4.3
Markdown==3.1.1
matplotlib==2.0.2
mccabe==0.6.1
nltk==3.2.5
numpy==1.13.1
olefile==0.46
opencv-python==3.3.0.10
Pillow==4.3.0
protobuf==3.8.0
pylint==2.6.0
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
PyYAML==5.1.1
scipy==1.0.0
six==1.12.0
sqlparse==0.3.1
tensorflow==1.4.0
tensorflow-tensorboard==0.4.0
toml==0.10.2
tqdm==4.17.1
typed-ast==1.4.2
Werkzeug==0.15.4
whitenoise==5.2.0
wrapt==1.12.1
