<nav class="navbar navbar-expand-sm bg-red" style="background-color: #e3f2fd;" > 
  
  <h3 style = "font-family: Verdana, Arial, Tahoma, Serif;"><it>BVRIT</it></h3>

  <ul class="navbar-nav ml-auto">
       
      <li class="nav-item"> 
          <a class="nav-link" href="{% url 'home' %}"> 
            {% if user.is_authenticated %}
                Welcome  {{user}} 😍
            {% endif %}
          </a> 
      </li> 
      <li class="nav-item"> 
        <a class="nav-link" href="{% url 'home' %}"> 
         Home
        </a> 
    </li> 
      <li class="nav-item"> 
          <a class="nav-link" href="{% url 'logout' %}"> 
            {% if user.is_authenticated %}
              Logout
            {% endif %}
          </a> 
      </li> 
      {% if not user.is_authenticated %}
      <li class="nav-item"> 
        <a class="nav-link" href="{% url 'login' %}"> 
         Login
        </a> 
    </li> 
    <li class="nav-item"> 
      <a class="nav-link" href="{% url 'register' %}"> 
       Register
      </a> 
  </li> 
    {% endif %}

    <li class="nav-item"> 
      <a class="nav-link" href="{% url 'allreviews' %}"> 
        {% if user.is_authenticated %}
          Reviews
        {% endif %}
      </a> 
  </li>

  </ul> 
</nav> 
<br>
